.food-display {
  width: 90%;
  margin: 20px auto 0px;
}

.food-display h2 {
  font-size: max(2vw, 28px);
  font-weight: 600;
}

.food-display-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  margin-top: 30px;
  gap: 1rem;
}

@media (max-width:768px) {
  .food-display-list{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
  }
}

@media (max-width:576px) {
  .food-display-list{
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: auto;
  }
}